<div class="row">
  <div class="span1"></div>
  <div class="span7" style="background-color: #eef4eb; padding: 8px; border-radius: 8px;">
    <h1>url.collector</h2>
    <p class="lead"> > just a small application your browser should do </p>
  </div>
  <div class="span4" style="background-color: #eef4eb; padding: 8px; border-radius: 8px;" >
    <table class="table-condensed">
      <tr>
        <th>name</th>
        <th>url</th>
      </tr>

      <% @last_posts.each do |post| %>
        <tr>
          <td><%= link_to post.name, post %></td>
          <td><%= link_to post.title, post.title, :target => '_blank' %></td>
        </tr>
      <% end %>  
    </table>
  </div>

  <div class="row">
    <div class="span2"></div>
    <div class="span6" style="background-color: #eef4eb; padding: 8px; border-radius: 8px;">
      <% top_tags(@tag_postcount).each_pair do |tag_id,post_count| %>
      <%= link_to "#{get_tagname(tag_id).name} [#{post_count}]", {:controller => "tags", :action => "show", :id => tag_id}, :class => "btn btn-info btn-mini" %>
      <% end %>
    </div>
    <div class="span4"></div>
  </div>

</div>
