<div class="row">
  <div class="span1"></div>
  <div class="span7 background-box" >
    <h1>:: url.collector ::</h2>
    <p class="lead colored-text"> > just a small application your browser should do </p>
  </div>
  <div class="span4 background-box">
    <%= render :partial => 'dash_last_posts' %>
  </div>
</div> <br />
<div class="row">
  <div class="span1"></div>
  <div class="span6 background-box">
    <%= render :partial => 'dash_most_used_tags' %>
  </div>
  <div class="span5 background-box">
    <%= render :partial => 'dash_featured_post' %>
  </div>
</div>
