<table class="table">
  <tr>
  <th>tag</th>
  <th>remove</th>
  </tr>
  <% @post.tags.build %>
  <%= form.fields_for :tags do |tag_form| %>
  <tr>
    <form class="form-inline">
      <% unless tag_form.object.nil? || tag_form.object.new_record? %>
        <td class="btn btn-info btn-mini"><%= tag_form.object.name %></td>
        <td><%= tag_form.check_box :_destroy %></td>
      <% end %>
    </form>
  </tr>
  <tr>
    <td colpsan="2">
      <% if tag_form.object.nil? || tag_form.object.new_record? %>
        <%= tag_form.text_field :name, :placeholder => "new tag" %>
      <% end %>
    </td>
  </tr>
 <% end %>
</table>
