  <%# @post.tags.build %>
  <%#= tagcloud_select.fields_for :tags do |tag_form| %>
  <%#= form_for @post.tags.build do |tag_form| %>
  <%# end %>



<table>
  <tr>
    <td>
      <h5>choose from tagcloud</h5>
    </td>
  </tr>  

    <%# FIXME: just list the tags that dont stick on the post %>
    <%# FIXME: dont work with new post || undefined method `each' for nil:NilClass %>
    <%# FIXME: schwer zu beschreiben: da zugewiesene tags ge-ckeched bleiben, müssen sie un-checked werden. das klappt aber nicht für den letzten eintrag, wenn mehr als 1 feld markiert ist %>
    <% @tags.each do |tag| %>
      XXX <% Tag.where(params[:tag.name]) %>
      <% unless @post.tags.include?(tag.name) %>

        <%# counter += 1 %> 
        <%# string = "post[tags_attributes][" + counter.to_s + "][name]" %>
        <% string = "foo" %>
      
        <tr>
          <td>
            <div class="control-group">
              <%= tag.name %>
            </div>
          </td>
          <td>
            <div class="control-group">
              <%#= check_box_tag string, tag.name,  @post.tags.include?(tag) %>
              <%= check_box_tag "post[tags_attributes][98][name]", tag.name,  @post.tags.include?(tag) %>
            </div>
          </td>
        </tr>

    <% end %>
  <% end %>

</table>
