<div class="span12 pagination-centered background-box" style="line-height: 3">
  <% @tags.each do |tag| %>
    <%= link_to tag, :class => "btn btn-info btn-small" do %>
      <%= "#{tag.name} [#{tag.posts.count.to_s}]" %>
    <% end %>
  <% end %>
</div>



