<table class="table">
  <tr>
    <% @tags.each do |tag| %>
      <% @tag_name = tag.name %>
      <% @tag_count = " ["+ tag.posts.count.to_s + "] " %>
      <td>
        <%= link_to tag, :class => "btn btn-info btn-small" do %>
          <%= @tag_name %>
          <%= @tag_count %>
        <% end %>
      <td>
   <% end %>
  </tr>
</table>
