<div class="span12 pagination-centered">

  <p id="notice"><%= notice %></p>

  <div class="lead pull-left">
    <strong> <%= @tag.name %> </strong>
  </div>

  <p> 
    <%= render :partial => "posts_on_tag" %>
  </p>

</div>
