<div class="span12 pagination-centered">

  <p id="notice"><%= notice %></p>

  <div class="lead button-labels">
    <label>
      <%= @tag.name %> 
    </label>
  </div>

  <p> 
    <%= render :partial => "posts_on_tag" %>
  </p>

</div>
