<div class="span12 pagination-centered">

  <p id="notice"><%= notice %></p>

  <div class="lead pull-left colored-text">
    <strong> <%= ":: #{@tag.name} ::" %> </strong>
  </div>
  <div> 
    <%= render :partial => "posts_on_tag" %>
  </div>
</div>
