<% if @post.errors.any? %>
  <div class="row">
    <div class="span1"></div>
    <div class="span4">
      <div class="alert alert-block alert-error">
        <h5 class="alert-heading">there are errors [<%= @post.errors.count %>] in the following fields:</h5>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
     </div>
     <div class="span7"></div>
  </div>
<% end %>


