<div class="span2" style="background-color: #eef4eb; padding: 4px; border-radius: 8px;">
  <small>
    post per page:
    <%= link_to '5', params.merge({:per_page => 5}), :class => "btn btn-link btn-mini" %>
    <%= link_to '10', params.merge({:per_page => 10}), :class => "btn btn-link btn-mini" %>
    <%= link_to '25', params.merge({:per_page => 25}), :class => "btn btn-link btn-mini" %>
  </small>
  <div class="span12 pagination-centered" style="background-color: #eef4eb; padding: 8px; border-radius: 8px;">
    <div id="posts"><%= render 'posts' %></div>
  </div>
</div>


