<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span0.5"></div>
    <div class="span11" style="background-color: #eef4eb; padding: 8px; border-radius: 8px;">
       <%= render :partial => "post_show" %>
     </div>
   <div class="span0.5"></div>
</div>

<p>
  <div class="span8" style="background-color: #eef4eb; padding: 8px; border-radius: 8px; line-height: 4;" >
    <%= render :partial => "tags_on_post" %>
  </div>
</p>


